body {
    margin: 0;
    padding: 0;
    background: url('../img/background/display_background.jpg') no-repeat center center/cover;;
}

p {
    margin: 0;
    padding: 0;
}

.display-document {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1696px;
    height: 100vh;
    margin: auto;
}

.display-bakeware {
    width: 59%;
    margin: auto;
    aspect-ratio: 677/348;
    overflow: hidden;
    border: 1vw solid #dda653;
    background-color: #fcdea5;
    border-radius: 5vw;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.display-cookie {
    margin: auto;
    width: calc(100% / 3);
    height: calc(100% / 2);
    display: flex;
    justify-content: center;
}

.cracking-cookie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 20;
}

.left-cookie {
    aspect-ratio: 1/1;
    height: 20vh;
    right: 60%;
    position: absolute;
    transform: rotate(5deg);
     animation: crack-left 0.6s ease-in forwards;
}

.right-cookie {
    aspect-ratio: 1/1;
    height: 20vh;
    position: absolute;
    left: 60%;
    transform: rotate(4deg);
    animation: crack-right 0.6s ease-in forwards;
}

.crack-effect {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    animation : fade-out 0.6s ease-in forwards;
}

.display-cookie>img {
    max-width: 90%;
    max-height: 90%;
    align-items: center;
}

.display-cookie>img:hover {
    cursor: pointer;
    filter: opacity(50%);
}

.position-relative {
    position: relative;
}

#selected-cookie0, #selected-cookie1, #selected-cookie2 {
    position: absolute;
    height: 120%;
    width: auto;
    top: calc(-20%);
    transform: translate(-50%, 0);
}

#selected-cookie0 {
    left: calc(30%);
}

#selected-cookie1 {
    left: calc(50%);
}

#selected-cookie2 {
    left: calc(70%);
}

.display-none {
    display: none;
}

.big-card {
    position: absolute;
    height: calc(min(1696px*0.59, 59vw) / 677 * 348);
    bottom: calc(min(1696px*0.65, 65vw) / 842 * 169 / 2 + (90vh - min(1696px*0.59, 59vw) / 677 * 348) / 2);
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    box-sizing:border-box;
}

.loading-animation {
    background: linear-gradient(to right, #ecce95 0%, #ecce95 50%, #fcdea5 50%, #fcdea5 100%);
    background-size: 200% 100%;
    animation: loading-animation 2s linear infinite;
}

#plate-container {
    display: flex;
    justify-content: center;
}

.prompt {
    font-family: "Titan One", cursive;
    font-size: 2vw;
    height: 10vh;
    -webkit-text-stroke: 1px black;
    color: white;
    text-align: center;
}

.display-plate {
    width: 65%;
}

@keyframes loading-animation {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

@keyframes move-card-0 {
    100% {
        transform: 
            translate(-80%, 0)
            translateX(0)
            translateY(calc(min(1696px*0.65, 65vw) / 842 * 169 / 2 + (90vh - min(1696px*0.59, 59vw) / 677 * 348) / 2 + min(1696px*0.59, 59vw) / 677 * 348 * 0.5 * 0.4))
            scale(0.6);
    }
}

@keyframes move-card-1 {
    100% {
        transform: 
            translate(0, 0)
            translateX(0)
            translateY(calc(min(1696px*0.65, 65vw) / 842 * 169 / 2 + (90vh - min(1696px*0.59, 59vw) / 677 * 348) / 2 + min(1696px*0.59, 59vw) / 677 * 348 * 0.5 * 0.4))
            scale(0.6);
    }
}

@keyframes move-card-2 {
    100% {
        transform: 
            translate(80%, 0)
            translateX(0)
            translateY(calc(min(1696px*0.65, 65vw) / 842 * 169 / 2 + (90vh - min(1696px*0.59, 59vw) / 677 * 348) / 2 + min(1696px*0.59, 59vw) / 677 * 348 * 0.5 * 0.4))
            scale(0.6);
    }
}

@keyframes crack-left {
    0% {
        opacity: 1;
        transform: translateX(0) rotate(5deg);
    }

    100% {
        opacity: 0;
        transform: translateX(-3em) rotate(-21deg);
    }
}

@keyframes crack-right {
    0% {
        opacity: 1;
        transform: translateX(0) rotate(4deg);
    }

    100% {
        opacity: 0;
        transform: translateX(5em) rotate(32deg);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (width <= 767px) and (width >= 468px) {
    .prompt {
        font-family: "Titan One", cursive;
        font-size: 13px;
        position: absolute;
        left: 10vh;
    }

    .display-bakeware {
        padding: 5px 0 0;
        width: 98%;
    }

    .display-plate {
        width: 98%;
    }

    .big-card {
        height: calc(98vw / 688 * 355);
        bottom: calc((100vh - (98vw / 688 * 138) - (98vw / 677 * 348)) / 2 + (98vw / 688 * 138));
    }

    @keyframes move-card-0 {
        100% {
            transform: 
                translate(-80%, 0)
                translateX(0)
                translateY(calc((100vh - (98vw / 688 * 138) - (98vw / 677 * 348)) / 2 + (98vw / 688 * 138) + (98vw / 677 * 348 / 2 * 0.25)))
                scale(0.75);
        }
    }

    @keyframes move-card-1 {
        100% {
            transform: 
                translate(0, 0)
                translateX(0)
                translateY(calc((100vh - (98vw / 688 * 138) - (98vw / 677 * 348)) / 2 + (98vw / 688 * 138) + (98vw / 677 * 348 / 2 * 0.25)))
                scale(0.75);
        }
    }

    @keyframes move-card-2 {
        100% {
            transform: 
                translate(80%, 0)
                translateX(0)
                translateY(calc((100vh - (98vw / 688 * 138) - (98vw / 677 * 348)) / 2 + (98vw / 688 * 138) + (98vw / 677 * 348 / 2 * 0.25)))
                scale(0.75);
        }
    }
}

@media (width <= 467px) {
    .prompt {
        font-family: "Titan One", cursive;
        font-size: 120%;
        position: absolute;
        top: 9%;
    }

    .display-bakeware {
        padding: 5px 0 0;
        width: 98%;
        aspect-ratio: 668/510;
    }

    .display-plate {
        width: 98%;
    }

    .display-cookie {
        width: calc(100% / 2);
        height: calc(100% / 3);
    }

    .big-card {
        height: calc(98vw / 688 * 510);
        bottom: calc((100vh - (98vw / 688 * 138) - (98vw / 668 * 510)) / 2 + (98vw / 688 * 138));
    }

    @keyframes move-card-0 {
        100% {
            transform: 
                translate(-65%, 0)
                translateX(0)
                translateY(calc((100vh - (98vw / 688 * 138) - (98vw / 668 * 510)) / 2 + (98vw / 688 * 138) + (98vw / 668 * 510 / 2 * 0.4) - 2px))
                scale(0.6);
        }
    }

    @keyframes move-card-1 {
        100% {
            transform: 
                translate(0, 0)
                translateX(0)
                translateY(calc((100vh - (98vw / 688 * 138) - (98vw / 668 * 510)) / 2 + (98vw / 688 * 138) + (98vw / 668 * 510 / 2 * 0.4) - 2px))
                scale(0.6);
        }
    }

    @keyframes move-card-2 {
        100% {
            transform: 
                translate(65%, 0)
                translateX(0)
                translateY(calc((100vh - (98vw / 688 * 138) - (98vw / 668 * 510)) / 2 + (98vw / 688 * 138) + (98vw / 668 * 510 / 2 * 0.4) - 2px))
                scale(0.6);
        }
    }
}