body {
    margin: 0;
    padding: 0;
    background-color: #c19267;
}

p {
    margin: 0;
    padding: 0;
}

.display-document {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1296px;
    height: 100vh;
    margin: auto;
}

.display-bakeware {
    width: 100%;
    margin: auto;
    aspect-ratio: 677/348;
    overflow: hidden;
    border: 1vw solid #dda653;
    background-color: #fcdea5;
    border-radius: 5vw;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.display-cookie {
    margin: auto;
    width: calc(100% / 3);
    height: calc(100% / 2);
    display: flex;
    justify-content: center;
}
.cracking-cookie {
    position: relative;
}
.left-cookie {
    width: 189%;
    height: 195%;
    display: flex;
    left: 284%;
    position: absolute;
    transform: rotate(5deg);
    top: -290%;
     animation: crack-left 0.5s ease-in forwards;
}

.right-cookie {
    width: 174%;
    height: 172%;
    display: flex;
    position: absolute;
    top: -261%;
    right: -431%;
    transform: rotate(4deg);
    animation: crack-right 0.9s ease-in forwards;
}

.crack-effect {
    position: relative;
    top: -300%;
    left: 422%;
}

.display-cookie>img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    align-items: center;
}

.display-cookie>img:hover {
    cursor: pointer;
    filter: opacity(50%);
}

.position-relative {
    position: relative;
}

#selected-cookie0, #selected-cookie1, #selected-cookie2 {
    position: absolute;
    height: 120%;
    width: auto;
    top: calc(-20%);
    transform: translate(-50%, 0);
}

#selected-cookie0 {
    left: calc(30%);
}

#selected-cookie1 {
    left: calc(50%);
}

#selected-cookie2 {
    left: calc(70%);
}

.display-none {
    display: none;
}

.big-card {
    position: absolute;
    height: 116%;
    top: -220%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    box-sizing:border-box;
}

.loading-animation {
    background: linear-gradient(to right, #ecce95 0%, #ecce95 50%, #fcdea5 50%, #fcdea5 100%);
    background-size: 200% 100%;
    animation: loading-animation 2s linear infinite;
}

@keyframes loading-animation {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

@keyframes move-card-0 {
    100% {
        transform: translate(-100%, 0) translateX(-100%) translateY(138%) scale(1.3);
    }
}

@keyframes move-card-1 {
    100% {
        transform: translate(-50%, 0) translateX(0%) translateY(138%) scale(1.3);
    }
}

@keyframes move-card-2 {
    100% {
        transform: translate(-1%, 0) translateX(100%) translateY(138%) scale(1.3);
    }
}

@keyframes crack-left {
    0% {
        opacity: 1;
        transform: translateX(0) rotate(5deg);
    }
    /* 30%, 40% {
		transform: translateX(-1em) rotate(-3deg);
    }
    70%, 80% {
        transform: translateX(-1em) rotate(-8deg);
    } */
    to {
        opacity: 0;
        transform: translateX(-3em) rotate(-21deg);
    }
}

@keyframes crack-right {
     0% {
        opacity: 1;
        transform: translateX(0) rotate(4deg);
    }
    /* 30%, 40% {
		transform: translateX(1em) rotate(12deg);
    }
    70%, 80% {
        transform: translateX(2em) rotate(17deg);
    } */
    to {
        opacity: 0;
        transform: translateX(5em) rotate(32deg);
    }
}

