body {
    margin: 0;
    padding: 0;
    background: url('../img/background/display_background.jpg') no-repeat center center/cover;;
}

p {
    margin: 0;
    padding: 0;
}

.display-document {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1296px;
    height: 100vh;
    margin: auto;
}

.display-bakeware {
    width: 59%;
    margin: auto;
    aspect-ratio: 677/348;
    overflow: hidden;
    border: 1vw solid #dda653;
    background-color: #fcdea5;
    border-radius: 5vw;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.display-cookie {
    margin: auto;
    width: calc(100% / 3);
    height: calc(100% / 2);
    display: flex;
    justify-content: center;
}

.cracking-cookie {
    position: relative;
}

.left-cookie {
    width: 126%;
    height: 131%;
    display: flex;
    left: 153%;
    position: absolute;
    transform: rotate(5deg);
    top: -221%;
     animation: crack-left 0.6s ease-in forwards;
}

.right-cookie {
    width: 117%;
    height: 111%;
    display: flex;
    position: absolute;
    top: -199%;
    right: -219%;
    transform: rotate(4deg);
    animation: crack-right 0.6s ease-in forwards;
}

.crack-effect {
    position: relative;
    top: -243%;
    left: 219%;
    animation : fade-out 0.6s ease-in forwards;
}

.display-cookie>img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    align-items: center;
}

.display-cookie>img:hover {
    cursor: pointer;
    filter: opacity(50%);
}

.position-relative {
    position: relative;
}

#selected-cookie0, #selected-cookie1, #selected-cookie2 {
    position: absolute;
    height: 120%;
    width: auto;
    top: calc(-20%);
    transform: translate(-50%, 0);
}

#selected-cookie0 {
    left: calc(30%);
}

#selected-cookie1 {
    left: calc(50%);
}

#selected-cookie2 {
    left: calc(70%);
}

.display-none {
    display: none;
}

.big-card {
    position: absolute;
    height: 200%;
    top: -336%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    box-sizing:border-box;
}

.loading-animation {
    background: linear-gradient(to right, #ecce95 0%, #ecce95 50%, #fcdea5 50%, #fcdea5 100%);
    background-size: 200% 100%;
    animation: loading-animation 2s linear infinite;
}

#plate-container {
    display: flex;
    justify-content: center;
}

.display-plate {
    width: 65%;
}

@keyframes loading-animation {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: -100% 0;
    }
}

@keyframes move-card-0 {
    100% {
        transform: translate(-100%, 0) translateX(-40%) translateY(130%) scale(0.75);
    }
}

@keyframes move-card-1 {
    100% {
        transform: translate(-50%, 0) translateX(0%) translateY(130%) scale(0.75);
    }
}

@keyframes move-card-2 {
    100% {
        transform: translate(0, 0) translateX(40%) translateY(130%) scale(0.75);
    }
}

@keyframes crack-left {
    0% {
        opacity: 1;
        transform: translateX(0) rotate(5deg);
    }

    100% {
        opacity: 0;
        transform: translateX(-3em) rotate(-21deg);
    }
}

@keyframes crack-right {
    0% {
        opacity: 1;
        transform: translateX(0) rotate(4deg);
    }

    100% {
        opacity: 0;
        transform: translateX(5em) rotate(32deg);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (width <= 767px) {
    .display-bakeware {
        padding: 5px 0 0 0;
        width: 98%;
    }
    .display-plate {
        width: 98%;
    }
    .big-card {
        height: 300%;
        top: -600%;
    }

    @keyframes move-card-0 {
        100% {
            transform: translate(-100%, 0) translateX(-25%) translateY(148%) scale(0.7);
        }
    }

    @keyframes move-card-1 {
        100% {
            transform: translate(-50%, 0) translateX(0%) translateY(148%) scale(0.7);
        }
    }

    @keyframes move-card-2 {
        100% {
            transform: translate(0, 0) translateX(25%) translateY(148%) scale(0.7);
        }
    }
}

@media (width <= 467px) {
    .display-bakeware {
        aspect-ratio: 668/510;
    }
    .display-cookie {
        width: calc(100% / 2);
        height: calc(100% / 3);
    }
}