.display-button>p {
    font-family: 'Jolly Lodger', cursive;
    color: #875426;
    font-size: 2vw;
    margin: auto;
    user-select: none;
}


.display-button {
    width: 6vw;
    height: 3vw;
    border: 1px solid #dda653;
    background-color: #fcdea5;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px #dda653;
    border-radius: 1vw;
}

.display-button:hover {
    cursor: pointer;
    box-shadow: 2px 2px #a97d3b;
}

.display-button:active {
    box-shadow: 2px 2px #a97d3b;
}


@media (width <= 767px) {
    .display-button {
        width: 8vh;
        height: 4vh;
    }

    .display-button>p {
        font-size: 3vh;
    }
}