.display-button>p, .display-button-off>p {
    font-family: "Titan One", cursive;
    color: #875426;
    font-size: 1.5vw;
    margin: auto;
    user-select: none;
}

.display-button-off {
    width: 6vw;
    height: 3vw;
    border: 1px solid black;
    background-color: #fcdea5;
    display: flex;
    justify-content: center;
    box-shadow: 0.3vw 0.3vw black;
}

.display-button-off:hover {
    cursor: not-allowed;
}

.display-button-hide {
    display: none;
}

.display-button {
    width: 6vw;
    height: 3vw;
    border: 1px solid #dda653;
    background-color: #fcdea5;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px #dda653;
    border-radius: 1vw;
}

.display-button:hover {
    cursor: pointer;
    box-shadow: 2px 2px #a97d3b;
}

.display-button:active {
    box-shadow: 2px 2px #a97d3b;
}


@media (width <= 767px) {
    .display-button {
        width: 8vh;
        height: 4vh;
    }

    .display-button>p {
        font-size: 2vh;
    }
}

.big-submit-button {
    justify-content: center;
    font-size: 4vh;
}

.big-submit-button:hover {
    cursor: pointer;
    background-color: #ecce95;
}

.big-submit-button:active {
    background-color: #d8b67b;
}