.sound-toggle {
    position: absolute;
    left: 95%;
    top: 5%;
    font-size: 5vh;
}

.sound-toggle:hover {
    cursor: pointer;
    color: gray;
}

@media (width <= 767px) {
    .sound-toggle {
        left: calc(100vw - 60px);
        top: 10px;
    }
}
