.result-document {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1696px;
    height: 100vh;
    margin: auto;
}

.result-cards {
    box-sizing: border-box;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.result-description {
    box-sizing: border-box;
    width: 27%;
    height: 90%;
    border: 1vw solid #dda653;
    background-color: #fcdea5;
    border-radius: 5vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result-response {
    box-sizing: border-box;
    width: 94%;
    height: 34%;
    border: 1vw solid #dda653;
    background-color: #fcdea5;
    border-radius: 5vw;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

p {
    box-sizing: border-box;
    font-family: 'Jolly Lodger', cursive;
    word-break: break-all;
    font-size: 1.5vw;
}

.result-response-title {
    font-size: 4vw;
}

.result-response-text {
    font-size: 1.5vw;
    padding-left: 5vw;
}

.card-title {
    padding: 0 1vw;
    align-items: center;
    margin-bottom: 5%;
}

.card-description {
    padding: 0 1.5vw;
    margin-top: 5%;
}

@media (768px <= width <= 1715px) {
    .result-document {
        box-sizing: border-box;
        padding: 0 20px;
    }
}

.logo-img {
    position: absolute;
    top: 100%;
    transform: translate(-50%, -100%);
    height: 40%;
}
