.result-document {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1696px;
    height: 100vh;
    margin: auto;
}

.result-cards {
    box-sizing: border-box;
    height: 60%;
    width: 75%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.result-description {
    box-sizing: border-box;
    width: 30%;
    height: 87%;
    border: 1vw solid #dda653;
    background-color: #fcdea5;
    border-radius: 2vw;
    margin: auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.result-response {
    box-sizing: border-box;
    width: 75%;
    height: 33%;
    border: 1vw solid #dda653;
    background-color: #fcdea5;
    border-radius: 5vw;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

p {
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    word-break: break-world;
    font-size: min(1.5vw, 30px);
}

.result-response-title {
    font-size: 4vw;
}

.result-response-text {
    font-size: min(1.5vw, 30px);
    padding-left: 5vw;
}

.card-title {
    padding: 0 1vw;
    align-items: center;
    margin-bottom: 5%;
    font-size: 2.5vh;
    font-weight: bold;
}

.card-description {
    padding: 0 1vw;
    /* margin-top: 5%; */
}

@media (768px <= width <= 1715px) {
    .result-document {
        box-sizing: border-box;
        padding: 0 20px;
    }
}

.logo-img {
    position: absolute;
    top: 100%;
    transform: translate(-80%, -100%);
    height: 40%;
}

.response-first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (width <= 767px) {
    .result-document {
        box-sizing: border-box;
        padding-top: 100px;
    }
    .logo-img {
        /* height: 30%; */
        display: none;
    }
    .result-cards {
        flex-direction: column;
        justify-content: flex-end;
        width: 98%;
    }
    .result-description, .result-response {
        width: 98%;
        height: auto;
        padding: 10px;
        margin: 0 auto;
    }
    .result-cards .result-description {
        margin-bottom: 10px;
    }
    .result-cards .result-description:last-child {
        margin-bottom: 0;
    }
    .card-description {
        font-size: 3.5vw;
        margin-top: 0;
    }
    .result-response-text {
        font-size: 4.5vw;
        padding-left: 0;
    }
    .card-title {
        margin-bottom: 10px;
    }
    .result-response {
        height: 100%;
        margin-top: 50px;
        margin: 30px auto 10px auto;
    }
    .result-response-title {
        font-size: 10vw;
    }
}