.documentation {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}

.content {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
}

.rows {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.rows:last-child {
    margin-bottom: 0;
}

.rounded {
    padding: 10px;
    background-color: lightgray;
    border: 0;
    border-radius: 10px;
}

.col3 {
    display: flex;
}

.card {
    margin-bottom: 2rem;
    min-width: 100px;
    width: 25%;
    aspect-ratio: 567 / 958;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.selected {
    border: 1px solid blue;
}

.card:hover {
    cursor: pointer;
}

.button {
    border-radius: 10px;
    padding: 20px;
    background-color: lightgray;
}

.button:hover {
    background-color: gray;
    cursor: pointer;
}